---

---
<div class="flex flex-col items-center justify-top h-100vh text-white w-[90%] sm:w-[80%] md:w-[60%] p-5 sm:p-10 md:p-20">

  <h1 class="font-montserrat font-extrabold text-[200%] sm:text-[300%] md:text-[400%] pb-[10%]">TraceFlow</h1>
  <p class="font-poppins text-[120%] sm:text-[100%] md:text-[150%] items-center text-center pb-[10%]">
    Understand data structures and algorithms through interactive visualizations with beautiful animations and step-by-step execution
  </p>
  <button class="bg-gradient-to-b from-[#6D35E5] to-[#170F35] text-white font-poppins font-bold text-[120%] sm:text-[130%] md:text-[150%] px-[4%] py-[2%] rounded-full transition duration-300 active:scale-95 active:shadow-inner cursor-pointer opacity-80 hover:opacity-100 hover:shadow-md hover:shadow-[#6D35E5] hover:scale-105">
    Explore Algorithm
  </button>
</div>

